<p style="color: green"><%= notice %></p>

<%= render @glucose_csv %>

<div>
  <%= link_to "Edit this glucose csv", edit_glucose_csv_path(@glucose_csv) %> |
  <%= link_to "Back to glucose csvs", glucose_csvs_path %>

  <%= button_to "Destroy this glucose csv", @glucose_csv, method: :delete %>
</div>
